
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home Page</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet"  type="text/css" href="{% static 'style.css'%} "  />
<link rel="stylesheet"   type="text/css" href="{% static 'coin-slider.css'%}" />

<script type="text/javascript" src="{% static 'cufon-yui.js'%} "></script>
<script type="text/javascript" src="{% static 'cufon-aller.js'%}"></script>
<script type="text/javascript" src="{% static 'jquery-1.4.2.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script.js'%}"></script>
<script type="text/javascript" src="{% static 'coin-slider.min.js'%}"></script>
<style type="text/css">
<!--
.style5 {
	background-color: #0d0e0d; /* You can change the color code as per your preference */
    padding: 10px; /* Add padding for better visual appearance */
    border-radius: 10px; /* Add border-radius for rounded corners */
    display: inline-block; /* Ensure inline display for the background color to cover only the text */
    color: gold; /* Set text color to white or any contrasting color */
    font-size: 35px;
    font-weight : bold;
}

.style12 {}
.style13 {font-size: 24px; color: #090808; font-weight: bold; }
.style16 {color: #070707}
-->
</style>
</head>
<body style = "background-color: rgb(255,229,209)">
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <p>&nbsp;</p>
      </div>
      <div class="mainbar">
        <h1 align="center" style="text-align: center;">
    <a href="index.html"><span class="content style5">CYBERSECURITY AWARENESS IN ONLINE EDUCATION A CASE STUDY ANALYSIS</span></a>
</h1>

<div class="article">
          <h2 align="center" class="style13">Awareness on Cyberattacks and Cybersecurity by CMR TECHNICAL CAMPUS students.</h2>

        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  <div class="row">
    
     <p align="center">
      <span class="active">
        <span class="style12">
          <a href="{% url 'index' %}" style = "margin-right: 20px; border-radius: 10px;  background-color: black; color : gold; font-size : 20px; padding: 10px;">HOME</a>
          <a href="{% url 'login' %}" style = "margin-right: 20px; border-radius: 10px;  background-color: black; color : gold; font-size : 20px; padding: 10px">REMOTE USER</a>
          <a href="{% url 'serviceproviderlogin' %}" style = "margin-right: 20px; border-radius: 10px; padding: 10px; background-color: black; color : gold; font-size : 20px;">SERVICE PROVIDER</a></span></span></p>
            
          <img src="{% static 'Banner.webp'%}" width="1300" height="450" alt="" class="fl" />      </div>
      <div class="clr"></div>
      <div class="slider">
        
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  
          <div class="clr"></div>
        </div>
      </div>
      <div class="sidebar">
        <div class="searchform"></div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg"></div>
  <div class="footer"></div>
</div>
<div align=center></div>
</body>
</html>
